/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.title-container {
    display: flex;
    direction: horizontal;
    gap: 1rem;
    padding: 10px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.arrowLeft {
    height: 50px;
    width: 30px;
    pointer-events: all;
    cursor: pointer;
}

.arrowLeft:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

.blog-posts {
    padding: 5px;
}